<div class="center">
  <div class="content">
    <form [formGroup]="loginForm" class="clr-form clr-form-horizontal" (ngSubmit)="onSubmit()">
      <div class="clr-row">
        <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
          <div class="card">
            <div class="progress-static">
              <div class="progress loop" *ngIf="loading"><progress></progress></div>  
            </div>   
            <div class="card-header">
              <div class="clr-flex-row">
                  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length > 0">
                      <div class="alert-items">
                          <div class="alert-item static">
                              <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="key"></clr-icon>
                              </div>
                              <span class="alert-text">
                                  {{ errorMsg }}
                              </span>
                          </div>
                      </div>
                  </div>
                </div>
              <div class="clr-row clr-justify-content-center">
                <div class="clr-col clr-col-sm-12 clr-col-md-5">
                    <img src="assets/app-graphics/logo-128px/128v_logo_blacktypo.png" alt="logo">
                </div>
              </div>
            </div>
            <div class="card-block">
              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-12 clr-col-md-4" for="loginName">Username</label>
                <div class="clr-control-container clr-col-12 clr-col-md-8">
                  <div class="clr-input-wrapper">
                    <input type="text" formControlName="loginName" class="clr-input input-block"
                      [ngClass]="{ 'is-invalid': submitted && f.loginName.errors }" />
                    <span *ngIf="submitted && f.loginName.errors" class="clr-subtext invalid-feedback">
                      <div *ngIf="f.loginName.errors.required">Username is required</div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-12 clr-col-md-4" for="password">Password</label>
                <div class="clr-password-container clr-col-12 clr-col-md-8">
                  <div class="clr-input-wrapper">
                    <input type="password" formControlName="password" class="clr-input input-block"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="clr-subtext invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="clr-form-control clr-row clr-justify-content-center">
                <div class="clr-col">
                  <button [disabled]="f.password === ''" class="btn btn-primary btn-block">Login</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
